<div>
  <h1>Currency</h1>
  100 = {{valor | currency}} // formatação em dollar <br>
  100 = {{valor | currency: "BRL"}} // formatando em real
</div>
<p>&nbsp;</p>

<div>
  <h3>LowerCase to UperCase</h3>
  {{nomeMinusculo}} -> {{nomeMinusculo | uppercase}}
  <br>
  <h3>UpperCase to LowerCase</h3>
  {{nomeMaiusculo}} -> {{nomeMaiusculo | lowercase}}
</div>

<p>&nbsp;</p>

<div>
  <h3> Data Atual</h3>
  {{dataAtual}} <br>
  dd/MM/yy = {{dataAtual | date:'dd/MM/yy'}} <br>
  dd/MMM/yyyy = {{dataAtual | date:'dd/MMM/yyyy'}}<br>
  shortTime = {{dataAtual | date:'shortTime'}}<br>
  mediumTime = {{dataAtual | date:'mediumTime'}}<br>
</div>

<div>
  <h3>Number</h3>
  1.500 = {{numero | number}} <br>
  44.500,45 = {{decimal | number}}
</div>

<div>
  <h3>Percentual</h3>
  92% = {{p | percent}} <br>
</div>

<div>
  <h3>JSON</h3>
  obj = {{my_objeto | json}} <br>
</div>

<div>
  <h3>Raiz Quadrada</h3>
  9 = {{raizQuadrada | sqrt}} <br>
</div>


